/*
  Global styles
*/

:root {
  --primary: #00c6bf;
  --primary-alt: #00c7c0;
  --secondary: #ffc501;

  --bg-dark: #19283f;
  --bg-light: #eff7fa;
  --bg-yellow: #ffc400;

  --title-dark: #1a2940;
  --title-light: #fff;

  --red: #ff3150;
  --gray: #a8b9c0;
}

body {
  color: var(--gray);
  font: 400 15px/1 "Roboto", sans-serif;
}

/*
  Components
*/

.cta {
  font-size: 15px;
  font-weight: 500;
  place-items: center;
  display: inline-grid;
  will-change: opacity;
  text-decoration: none;
  color: var(--secondary);
  background-color: var(--red);
}
.cta:hover {
  opacity: 0.8;
  color: var(--secondary);
}
.cta-md {
  width: 110px;
  height: 40px;
}
.cta-lg {
  width: 190px;
  height: 45px;
}

.section-title {
  padding: 60px 0;
  text-align: center;
}
.section-title h2 {
  font-size: 35px;
  font-weight: 500;
  margin: 40px 0 12px;
  color: var(--title-dark);
}
.section-title .line {
  height: 1px;
  width: 150px;
  margin: 15px auto 0;
  background-color: var(--primary);
}

/* 
  Header area
*/

header {
  height: 100vh;
  min-height: 500px;
  background-color: var(--bg-dark);
}

/* [1] Nav */
@media (max-width: 991px) {
  .navbar-collapse {
    left: 0;
    top: 70px;
    z-index: 1;
    width: 100%;
    position: absolute;
    height: calc(100vh - 70px);
    min-height: calc(500px - 70px);
    background-color: var(--bg-dark);
  }
}
header nav .nav-link {
  color: inherit;
}
header nav .nav-link:hover,
header nav .nav-link:focus-visible,
header nav .nav-link.active {
  color: var(--primary-alt);
}
header nav .fake-search {
  height: 25px;
  color: var(--primary);
  border-left: 1px solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* [2] Hero */
header .hero {
  min-height: calc(100% - 70px);
}
header .hero,
header .hero article {
  display: grid;
  place-items: center;
}
header .hero h1 {
  font-weight: 300;
  color: #f0f8fb;
}
@media (min-width: 768px) {
  header .hero h1 {
    font-size: 3.4em;
  }
}

/* 
  Main area
*/

/* [1] Services */
.services {
  padding-bottom: 54px;
}
.services article {
  counter-increment: num;
}
@media (max-width: 767px) {
  .services article:nth-of-type(even) {
    margin: 30px 0;
  }
}
.services .icon {
  height: 197px;
  display: grid;
  align-items: end;
  position: relative;
  color: var(--primary);
  justify-content: center;
}
.services .icon::before {
  left: 50%;
  z-index: -1;
  bottom: -16px;
  color: #eff7fa;
  position: absolute;
  content: counter(num);
  font: 400 13.5rem/1 "Anton";
  transform: translateX(-50%);
}
.services h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 30px 0 26px;
  color: var(--secondary);
}
.services p {
  margin: 0 auto;
  max-width: 300px;
  line-height: 30px;
}

/* [2] Portfolio */
.portfolio {
  padding-bottom: 60px;
  background-color: var(--bg-light);
}
.portfolio .nav-link {
  height: 44px;
  color: inherit;
  border-radius: 10px;
}
.portfolio .nav-link.active {
  color: var(--secondary);
  background-color: var(--red);
}
.portfolio .tab-content > .row {
  display: none;
}
.portfolio .tab-content > .active {
  display: flex;
}
.portfolio figure {
  position: relative;
}
.portfolio figure::before,
.portfolio figure::after {
  display: none;
  position: absolute;
  will-change: display;
}
.portfolio figure:hover::before,
.portfolio figure:hover::after {
  display: grid;
}
.portfolio figure::before {
  font-size: 20px;
  place-items: center;
  color: var(--title-light);
  inset: 0 0.75rem 0 0.75rem;
  background-color: var(--primary);
  content: "Title";
  /* content: attr(data-title) */
}
@media (max-width: 767px) {
  .portfolio figure::before {
    inset: 0 15px 0 15px;
  }
}
.portfolio figure::after {
  left: 50%;
  top: calc(50% + 29px);
  color: var(--title-dark);
  transform: translate(-50%, -50%);
  content: "/Type";
  /* content: attr(data-type) */
}
.portfolio .fake-btn {
  cursor: default;
}
